extend layout.pug

block content
    <h1>#{currentBrand}</h1>            <!-- possible also to use h1=currentBrand -->
    p Three popular #{currentBrand} models: 
      ul
        li= model1
        li= model2
        li= model3      
    p ← 
      a(href="/") Back  


    



